[Unit]
Description=Set random wallpaper
PartOf=graphical-session.target
ConditionEnvironment=DISPLAY

[Service]
Type=exec
ExecStart=/home/santiagorequena/.config/i3/bin/refresh_wallpapers
