[Unit]
Description=Tell the time
After=graphical-session-pre.target
PartOf=graphical-session.target

[Timer]
OnCalendar=hourly
AccuracySec=1

[Install]
WantedBy=graphical-session.target
